/* root | all */
* {
    font-family: "Baskerville Old Face", Baskerville, serif;
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

/* Element */
body {
    font-family: "Baskerville Old Face", Baskerville, serif;
    color: #1e1e1e;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(135deg, #e2c6f4, #7f5b96); */
}

/* Navbar */
.navbar {
    background: #1e1e1e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 6px;
    /*position: sticky;
    top: 0;
    z-index: 10;*/
}

.navbar .logo {
    font-size: 1.4em; 
    font-weight: bold; 
    color: #ffffff;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    color: #e2c6f4; 
    text-decoration: none; 
    font-weight: 500;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #5b255f;
}

/* Hero Section */
.hero { 
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 80px;
    background: linear-gradient(to bottom, #d6bbd3, #775e7e);
    gap: 20px;
    flex-wrap: wrap;
}

.hero-img {
    flex: 1 1 250px;
    display: flex;
    justify-content: center;
    /*align-items: center;
    background: #fff;
    padding: 16px;
    border-radius: 28px;
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.35);
    max-width: 660px;*/
}

.hero-img img {
    width: 600px;
    height: 700px;
    max-width: 100%;
    max-height: 82vh;
    border-radius: 20px;
    object-fit: cover;
    border: 5px solid #1e1e1e;
    /*transition: transform 0.35s ease, box-shadow 0.35s ease;*/
}

.hero-img img:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.hero-text {
    flex: 2 1 400px;
    text-align: left;
    max-width: 600px;
}

.hero-text h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: #1e1e1e;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.hero-text p {
    font-size: 1.2em;
    margin-bottom: 30px;
    /*color: #5b255f;
    max-width: 520px;*/
}

.badges { 
    margin-bottom: 20px;
    /* Now spacing below badges */ 
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.badge {
    background-color: #1e1e1e;
    color: #ecdbf7;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 14px;
    font-size: 14px;
    border-radius: 20px;
    font-weight: 600;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
    transition: transform 0.2s;
}
.badge:hover {
    transform: scale(1.05);
}

.badge img { 
    width: 20px; 
    height: 20px; 
    border-radius: 50%; 
    object-fit: cover;
}

.btn {
    padding: 12px 25px; 
    background: #1e1e1e;
    color: #ecdbf7; 
    border-radius: 25px; 
    font-weight: bold; 
    text-decoration: none; 
    transition: background 0.3s, color 0.3s;
}

.btn:hover {
    background: #000000;
    color: #775e7e
}

/* Skills Section */
.skills {
    padding: 60px 40px;
    background: linear-gradient(to bottom, #775e7e 5%,
    #d6bbd3) ;
    min-height: 100vh; 
    display: flex;
    /* Added flexbox */ 
    flex-direction: column;
    /* Align items vertically */ 
    align-items: center;
    /* Center items horizontally */ 
    justify-content: center;
    /* Center items vertically */ 
    color: white; 
    text-align: center;
}

.skills h2 {
    font-size: 2.4em; 
    margin-bottom: 30px; 
    color: #1e1e1e;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.skills-container {
    display: flex; 
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    /* Center items horizontally */
}

.skill-card {
    background: #1e1e1e;
    padding: 30px; 
    border-radius: 20px;
    width: 300px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s, box-shadow 0.3s;
}

.skill-card h3 { 
    font-size: 1.8em; 
    margin-bottom: 15px; 
    color: #775e7e;
    text-shadow: 0 2px 10px #5b255f;
}

.skill-card p {
    font-size: 1.2em;
    color: #e9e3ed;
}

.skill-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

/* Footer Section */
.footer {
    background: #1e1e1e;
    color: #e2c6f4;
    padding: 40px 20px; 
    text-align: center;
}

.footer-container { 
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 20px;
}

.footer-logo img {
    max-width: 150px;
}

.footer-links {
    display: flex;
    gap: 15px;
}

.social-link img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}

.social-link img:hover {
    transform: scale(1.1);
}

.footer-text { 
    font-size: 0.9em; 
    color: #e2c6f4;
}